{
  "branches": [
    "main",
    {
      "name": "next",
      "prerelease": "next"
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "type": "build",
            "release": false
          },
          {
            "type": "chore",
            "release": false
          },
          {
            "type": "ci",
            "release": false
          },
          {
            "type": "docs",
            "release": "patch"
          },
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "type": "fix",
            "release": "patch"
          },
          {
            "type": "perf",
            "release": "patch"
          },
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "type": "style",
            "release": "patch"
          },
          {
            "type": "test",
            "release": false
          }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            { "type": "feat", "section": "Features1" },
            { "type": "fix", "section": "Bug Fixes1" },
            { "type": "docs", "section": "Documentation1" },
            { "type": "style", "section": "Styles1" },
            { "type": "refactor", "section": "Code Refactoring1" },
            { "type": "perf", "section": "Performance Improvements1" },
            { "type": "test", "section": "Tests1" },
            { "type": "chore", "section": "Miscellaneous Chores1" },
            { "type": "revert", "section": "Reverts1" }
          ]
        }
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ]
      }
    ],
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "ddd"
      }
    ],
    [
      "@semantic-release/github"
    ]
  ]
}
