{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "types": [
          {"type": "feat", "section": "Features"},
          {"type": "fix", "section": "Bug Fixes"},
          {"type": "chore", "hidden": "Chore"},
          {"type": "docs", "hidden": "Docs"},
          {"type": "style", "hidden": "Style"},
          {"type": "refactor", "hidden": "Refactor"},
          {"type": "perf", "hidden": "Perf"},
          {"type": "test", "hidden": "Test"}
      ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ]
      }
    ],
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}
